<div class="row">
  <div class="col-md-3 offset-md-1 d-none d-md-block">
    <%- partial('_partial/infobar.ejs') %>
  </div>

  <div class="col-md-7">
    <div class="article p-4 pb-0 h-auto border rounded shadow-sm">
      <%- page.content %>
    </div>
  </div>
</div>