<div class="modal fade" id="searchModal">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h4 class="fw-light pb-1 mb-2 d-block"><i class="bi bi-search"></i>&nbsp;<%- __('Search_modal.Search') %></h4> -->
        <span class="fs-4 me-2 text-muted"><i class="bi bi-search"></i></span>
        <input type="text" class="form-control" id="local-search-input" placeholder="<%- __('Search_modal.Placeholder') %>">
      </div>
      <div class="modal-body">
        <div class="search-content" id="local-search-result"></div>
        <div class="mx-3 text-muted"><i class="bi bi-check2-all">&nbsp;</i><%- __('Search_modal.No_result') %></div>
      </div>
    </div>
  </div>
</div>